CREATE PROCEDURE [dbo].[usp_Create_Audit_Specification_SLCProject]
AS
BEGIN
BEGIN TRY

--Set no count ON
SET NOCOUNT ON;

--Alter DATABASE AUDIT SPECIFICATION for SLCProject
ALTER DATABASE AUDIT SPECIFICATION [Audit_Specification_SLCProject] WITH (STATE=OFF);
DROP DATABASE AUDIT SPECIFICATION [Audit_Specification_SLCProject];

-- Create DATABASE AUDIT SPECIFICATION
CREATE DATABASE AUDIT SPECIFICATION [Audit_Specification_SLCProject]
FOR SERVER AUDIT [Audit_SLCProject]
ADD (SCHEMA_OBJECT_ACCESS_GROUP),
ADD (BACKUP_RESTORE_GROUP),
ADD (AUDIT_CHANGE_GROUP),
ADD (SUCCESSFUL_DATABASE_AUTHENTICATION_GROUP),
ADD (DATABASE_PERMISSION_CHANGE_GROUP),
ADD (SCHEMA_OBJECT_CHANGE_GROUP),
ADD (DATABASE_CHANGE_GROUP),
ADD (APPLICATION_ROLE_CHANGE_PASSWORD_GROUP),
ADD (DATABASE_LOGOUT_GROUP),
ADD (DATABASE_OBJECT_CHANGE_GROUP),
ADD (DATABASE_PRINCIPAL_CHANGE_GROUP),
ADD (DBCC_GROUP),
ADD (FAILED_DATABASE_AUTHENTICATION_GROUP),
ADD (SCHEMA_OBJECT_OWNERSHIP_CHANGE_GROUP),
ADD (SCHEMA_OBJECT_PERMISSION_CHANGE_GROUP),
ADD (TRANSACTION_GROUP)
WITH (STATE = ON)

END TRY
---Error handling
BEGIN CATCH
SELECT
	ERROR_NUMBER() AS ErrorNumber
   ,ERROR_SEVERITY() AS ErrorSeverity
   ,ERROR_MESSAGE() AS ErrorMessage
   ,ERROR_STATE() AS ErrorState;
END CATCH;
END

GO
