CREATE procedure [dbo].[usp_CreateReferenceStandard]        (         @inpRefStdDto nvarchar(max)        )        AS        BEGIN        DECLARE @PinpRefStdDto nvarchar(max) = @inpRefStdDto;         CREATE Table #ReferenceStandard (          RefStdName nvarchar(500),          [RefStdSource] char(1),          [ReplaceRefStdId] int,          [ReplaceRefStdSource] char(1),          [mReplaceRefStdId] int,          [IsObsolete] bit,          [RefStdCode] int,          [CreatedBy] int,          [CustomerId] int         );                 CREATE Table #ReferenceStandardEdition (         [RefEdition] nvarchar(255),         [RefStdTitle] nvarchar(1024),         [LinkTarget] nvarchar(1024),         [CreatedBy] int,         [RefStdId] int,         [CustomerId] int         );                 CREATE Table #inpRefStdTbl (           ReferenceStandard nvarchar(max),           ReferenceStandardEdition nvarchar(max)         );                INSERT INTO #inpRefStdTbl (ReferenceStandard, ReferenceStandardEdition)         SELECT          *         FROM OPENJSON(@PinpRefStdDto)         WITH (         ReferenceStandard NVARCHAR(MAX) AS JSON,         ReferenceStandardEdition NVARCHAR(MAX) AS JSON         );                DECLARE @refStndJson NVARCHAR(MAX);        DECLARE @refStndEdtnJson NVARCHAR(MAX);                SELECT         @refStndJson = ReferenceStandard           ,@refStndEdtnJson = ReferenceStandardEdition        FROM #inpRefStdTbl;                INSERT INTO #ReferenceStandard (RefStdName, [RefStdSource], [ReplaceRefStdId], [ReplaceRefStdSource],        [mReplaceRefStdId], [IsObsolete], [RefStdCode], [CreatedBy], [CustomerId])         SELECT          *         FROM OPENJSON(@refStndJson)         WITH (         RefStdName NVARCHAR(500) '$.RefStdName',         [RefStdSource] CHAR(1) '$.RefStdSource',         [ReplaceRefStdId] INT '$.ReplaceRefStdId',         [ReplaceRefStdSource] CHAR(1) '$.ReplaceRefStdSource',         [mReplaceRefStdId] INT '$.MReplaceRefStdId',         [IsObsolete] BIT '$.IsObsolute',         [RefStdCode] INT '$.RefStdCode',         [CreatedBy] INT '$.CreatedBy',         [CustomerId] INT '$.CustomerId'         );                --select * from @ReferenceStandard;                INSERT INTO #ReferenceStandardEdition ([RefEdition], [RefStdTitle], [LinkTarget], [CreatedBy],        [RefStdId], [CustomerId])         SELECT          *         FROM OPENJSON(@refStndEdtnJson)         WITH (         RefEdition NVARCHAR(255) '$.RefEdition',         RefStdTitle NVARCHAR(1024) '$.RefStdTitle',         LinkTarget NVARCHAR(1024) '$.LinkTarget',         CreatedBy INT '$.CreatedBy',         RefStdId INT '$.RefStdId',         CustomerId INT '$.CustomerId'         );                --select * from @ReferenceStandardEdition;       DECLARE @PCustomerId int =(select  TOP 1 CustomerId  FROM #ReferenceStandard)         DECLARE @MaxRefStdCode INT = ( SELECT TOP 1            RefStdCode     FROM ReferenceStandard WITH (NOLOCK)       WHERE CustomerId = @PCustomerId       ORDER BY RefStdCode DESC)             DECLARE @MinRefStdCode INT=10000000;       IF(ISNULL(@MaxRefStdCode,0) < @MinRefStdCode)       SET @MaxRefStdCode = @MinRefStdCode;      --insert values in table        INSERT INTO [ReferenceStandard] ([RefStdName], [RefStdSource], [ReplaceRefStdId], [ReplaceRefStdSource], [mReplaceRefStdId]        , [IsObsolete],[RefStdCode],[CreateDate], [CreatedBy], [CustomerId], [IsDeleted])         SELECT          RefStdName            ,[RefStdSource]            ,[ReplaceRefStdId]            ,[ReplaceRefStdSource]            ,[mReplaceRefStdId]            ,[IsObsolete]            ,@MaxRefStdCode+1            ,GETUTCDATE()            ,[CreatedBy]            ,[CustomerId]            ,0         FROM #ReferenceStandard                DECLARE @refStdId INT;        SET @refStdId = SCOPE_IDENTITY();                --insert values in table        INSERT INTO  [ReferenceStandardEdition] ([RefEdition], [RefStdTitle], [LinkTarget], [CreateDate], [CreatedBy]        , [RefStdId], [CustomerId])         SELECT          [RefEdition]            ,[RefStdTitle]            ,[LinkTarget]            ,GETUTCDATE()            ,[CreatedBy]            ,@refStdId            ,[CustomerId]         FROM #ReferenceStandardEdition              DECLARE @refStdEditionId INT;        SET @refStdEditionId = SCOPE_IDENTITY();                --select values to return        SELECT         RefStdId           ,RefStdName           ,RefStdSource           ,ReplaceRefStdId           ,ReplaceRefStdSource           ,mReplaceRefStdId           ,IsObsolete           ,RefStdCode           ,CreateDate           ,CreatedBy           ,ModifiedDate           ,ModifiedBy           ,CustomerId           ,IsDeleted           ,IsLocked           ,IsLockedByFullName           ,IsLockedById        FROM ReferenceStandard WITH (NOLOCK)        WHERE RefStdId = @refStdId                SELECT         RefStdEditionId           ,RefEdition           ,RefStdTitle           ,LinkTarget           ,CreateDate           ,CreatedBy           ,RefStdId           ,CustomerId           ,ModifiedDate           ,ModifiedBy        FROM ReferenceStandardEdition WITH (NOLOCK)        WHERE RefStdEditionId = @refStdEditionId        END;  